:root {
  --primary: #23ba28;
  --title: #223121;
  --text: #555555;
  --background: #fffafa;
  --border: #b3afaf;
  --shadowcolor: #b2b2b2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  gap: 5px;
}

.greeting {
  grid-column: 1 / 4;
  grid-row: 1;
  /* place-content: center;
  text-align: center; */
  font-size: 2.5rem;
  font-weight: 500;
  padding: 2rem;
  border-bottom: 1px dashed var(--border);
}

.make-to-do-item {
  grid-column: 1 / 4;
  grid-row: 2;
  padding: 2rem;
}

.to-do-overview {
  grid-column: 1 / 4;
  grid-row: 3;
  padding: 2rem;
}

h1,
h2,
h4 {
  color: var(--title);
}

h2 {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.make-to-do-item input {
  font-size: 1.2rem;
  width: 100%;
  padding: 7px;
  border: 1px solid var(--border);
  border-radius: 10px;
  margin-bottom: 20px;
  color: var(--text);
  background-color: #ffffff;
}

::placeholder {
  color: var(--shadowcolor);
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 20px;
}

.options label {
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 0.5rem;
}

#submit {
  margin: 0;
  background-color: var(--primary);
  color: #ffffff;
  /* background-color: #ffffff; */
  /* color: var(--text); */
  border: 2px solid var(--primary);
  font-weight: 500;
}

/* #submit:hover {
  background-color: var(--primary);
  color: #ffffff;
  cursor: pointer;
} */

.todo-item {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 10px;
  color: var(--text);
  background-color: #ffffff;
  display: flex;
  margin-bottom: 20px;
}

.todo-item label {
  padding: 0px 7px 0px 14px;
  align-self: center;
}

.text {
  font-size: 1.2rem;
  flex: 1;
  border: none;
  padding: 7px;
  border: none;
  background-color: transparent;
}

.date-todo {
  border: none;
  background-color: transparent;
  padding: 0px 14px 0px 7px;
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: center;
}

.read-only {
  background-color: #e3e3e3;
}
